section.recent-work .container{
    overflow: auto;
    width: 100vw;
    max-width: 48rem;
    margin: 5rem auto;
}

section.recent-work  h4 {
    text-align: center;
    margin: 2rem 0 1rem;
    font-size: 2rem;
    font-weight: 400;
}

section.recent-work  h1 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

@media screen and (max-width: 600px) {

    section.recent-work .container {
        width: 90%;
        padding:2rem 1rem;
        margin: 2rem auto 0;
        border-radius: 2rem;
    }
}