#contact-page {
    width: 80vw;
    max-width: 51rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: yellowgreen;
}

#contact-header {
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 3rem;
}

#contactdes {
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 300;
}

.contactForm {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 50rem;
    background-color: aliceblue;
}